/* =================================
  Base Element Styles
==================================== */
.blog-title {
  font-size: 1.2em;
  text-transform: capitalize;
}

.author-photo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.blog-author {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  font-size: .8em;
}

.author-text {
  margin-left: 10px;
}

.author-name,
.date-published {
  margin: 0;
  align-self: flex-end;
}

.garyvee-book-link {
  color: orange;
}

/* Social Sharing */
.share-buttons img {
width: 50px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

.social-title {
  text-transform: capitalize;
  font-size: 1em;
}
