/* =================================
  Base Element Styles
==================================== */
.blog-title {
  font-size: 1.4em;
}

.author-photo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
