@media (min-width: 768px) {
  .blog-title {
    font-size: 2em;
  }

  .blog-post {
    font-size: 1.3em;
  }

  .author-text {
    font-size: 1.1em;
  }

  .author-info {
    display: flex;
    flex-direction: column-reverse;
  }

  .author-card-name {
    font-size: 1.5em;
  }

  .social-title {
    font-size: 1.5em;
  }
}
