/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: 'Varela Round', sans-serif;

}

a {
  text-decoration: none;
  color: white;
}


/* Header Styles */
.main-header {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.name {
  text-align: center;
  margin: 0 auto;
  background: blanchedalmond;
  color: white;
}
