/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: 'Varela Round', sans-serif;

}

a {
  text-decoration: none;
  color: black;
}

/* =================================
  Nav Styles
==================================== */

/* Header Styles */
.main-header {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.name {
  text-align: center;
  margin: 0 auto;
}

.main-title {
  font-size: 40px;
  font-family: Cabin, Helvetica, Arial, sans-serif;
  text-transform: uppercase;

}

.nav-conainer {

}
